﻿@charset 'utf-8';

@import url(https://fonts.googleapis.com/css?family=Cantarell:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(theme_dark.css);

a {
    color: #eb413e;
    text-decoration: none;
}

.ico_btn_lr {
    text-decoration: none;
}
/*Menu Color*/
.wrapTopMenu .topMenu > ul > li.current-menu-ancestor > a {
    color: #343292;
    text-decoration: none;
}

.usermenuFlag {
    padding-top: 9%;
}
/*color*/
a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
.h1 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover, .h5 a:hover, .h6 a:hover,
.logoHeader a,
#header .rightTop a,
.menuStyle2 .wrapTopMenu .topMenu > ul > li > ul li.sfHover > a,
.menuStyle2 .wrapTopMenu .topMenu > ul > li > ul li a:hover,
.menuStyle2 .wrapTopMenu .topMenu > ul > li > ul li.menu-item-has-children:after,
.widgetWrap ul > li,
.widgetWrap ul > li a:hover,
.widget_recent_comments ul > li a,
.widget_twitter ul > li:before,
.widget_twitter ul > li a,
.widget_rss ul li a,
.widget_trex_post .ui-tabs-nav li a,
.widget_top10 .ui-tabs-nav li a,
.nav_pages ul li a:hover,
.postFormatIcon:before,
.comments .commentModeration .icon,
.sc_button.sc_button_skin_dark.sc_button_style_line:hover,
.sc_button.sc_button_skin_global.sc_button_style_line,
.sc_quote, blockquote,
.sc_toggl.sc_toggl_style_1 .sc_toggl_item .sc_toggl_title:hover,
.sc_toggl.sc_toggl_style_2 .sc_toggl_item .sc_toggl_title:hover,
.sc_dropcaps.sc_dropcaps_style_3 .sc_dropcap,
.sc_highlight.sc_highlight_style_2,
.sc_pricing_table.sc_pricing_table_style_1 .sc_pricing_price,
.sc_pricing_table.sc_pricing_table_style_2 .sc_pricing_price,
.sc_tabs.sc_tabs_style_2 ul li a,
.sc_tabs.sc_tabs_style_3 ul li.ui-tabs-active a,
.sc_tabs.sc_tabs_style_3 ul.sc_tabs_titles li.ui-tabs-active a,
.sc_blogger.style_list li a:hover,
.sc_testimonials .sc_testimonials_item_author .sc_testimonials_item_user,
ul.sc_list.sc_list_style_iconed li:before,
ul.sc_list.sc_list_style_iconed.sc_list_marked_yes li,
ul.sc_list.sc_list_style_iconed li.sc_list_marked_yes,
.sc_button.sc_button_skin_global.sc_button_style_line,
.sc_dropcaps.sc_dropcaps_style_3 .sc_dropcap,
.sc_team.sc_team_item_style_1 .sc_team_item_title,
.sc_team.sc_team_item_style_2 .sc_team_item_position,
.sc_countdown.sc_countdown_round .sc_countdown_counter .countdown-section .countdown-amount,
.sc_countdown .flip-clock-wrapper ul li a div div.inn,
.sc_contact_info .sc_contact_info_wrap .sc_contact_info_lable,
.isotopeWrap .fullItemWrap .fullItemClosed:hover,
.postInfo .postReview .revBlock .ratingValue,
.reviewBlock .reviewTab .revTotalWrap .revTotal .revRating,
.reviewBlock .reviewTab .revWrap .revBlock .ratingValue,
.isotopeWrap .isotopeItem .isotopeContent .isotopeTitle a:hover,
.postBox .postBoxItem .postBoxInfo h5 a:hover,
.menuStyle1 #header ul li a:hover,
.menuStyle1 #header ul > li > ul > li > a:hover,
.menuStyle1 #header ul > li > ul li.sfHover > a, .menuStyle1 #header ul > li > ul li a:hover,
.widget_area .post_title a:hover, .custom_footer .icon:hover,
.isotopeWrap .fullItemWrap .isotopeNav:hover,
.sc_slider_swiper .slides li .sc_slider_info a:hover,
.sc_quote.sc_quote_style_1, blockquote,
.sc_audio .sc_audio_title,
.sc_audio .sc_audio_author,
.sc_chat .sc_quote_title,
ul.sc_list.sc_list_style_ul li,
ol.sc_list.sc_list_style_ol li,
.sc_slider.sc_slider_dark .slider-control-nav li a:hover {
    color: #343392;
}

/*Slider*/
.slider_image_1 {
    background-image: url('/images/1.jpg');
}

.slider_image_2 {
    background-image: url(/images/2.jpg);
}

.slider_image_3 {
    background-image: url(/images/3.jpg);
}

.slider_image_4 {
    background-image: url(/images/4.jpg);
}

.slider_image_5 {
    background-image: url(/images/5.jpg);
}

.slider_image_6 {
    background-image: url(/images/6.jpg);
}

.slider_image_7 {
    background-image: url(/images/7.jpg);
}

.slider_image_8 {
    background-image: url(/images/8.jpg);
}

/*Custom hight slider*/
/*.sc_slider.sc_slider_style_1 {
    height: 500px;
    margin-bottom: 50px;
}*/

.sc_title.sc_title_style_1 {
    color: #343292;
}

.aritnt_back {
    background-color: #f5f5f5;
}

.op_text {
    font-size: 16px;
    color: #62646c;
    font-weight: bold;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}
/*Custom icon mutil langue*/
.usermenuArea > ul > li > a {
    padding-right: 0px;
    padding-left: 0px;
}

.com_name {
    font-weight: bold;
    font-size: 25px;
}

.info_com {
    font-size: 15px;
    text-align: center;
}

.sc_columns_item.widgetWrap.widget_socials {
    width: 32%;
}

.sc_columns_item.widgetWrap {
    padding-left: 2%;
}
/*=== reset =========================================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, address, section, video, audio {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 300;
}

body {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #4c4841;
    -webkit-font-smoothing: antialiased; /*letter-spacing: -0.5px;*/
    text-shadow: 0.5px 0.1px #C0BEBE;
}

body, button, input, select, textarea {
    font-family: 'Roboto', sans-serif;
}

header, nav, section, article, aside, footer {
    display: block
}

    footer.footerWidget {
        background-color: #343392;
        padding-top: 20px;
        margin-top: 30px;
        color: #fff;
    }

.wrapTopMenu .topMenu a {
    font-size: 15px;
}

a.openMobileMenu {
    text-decoration: none;
}

.menuStyle1.header.ul > li > ul.li.a {
    color: #343292;
    font-size: 20px;
}

.remove_underline {
    text-decoration: none;
}

.text_pro {
    text-align: center;
    color: #343292
}

.woocommerce .usermenuCart .cart_button img {
    width: 40px;
    padding-top: 0px;
    display: block;
}


.pro-item {
    padding: 20px;
    margin-bottom: 25px;
    text-align: center;
}

    .pro-item:hover {
        box-shadow: 0 0 15px rgba(0,0,0,.1);
    }


.usermenuCart .cart_button {
    margin-right: 20px;
}

#cart tbody td {
    vertical-align: inherit;
}

#cart td input {
    min-width: 60px;
}


.button.single_add_to_cart_button.button.alt {
    padding: 14px;
    margin-top: 10px;
}

.woocommerce button.button.alt {
    background-color: #77a464;
}

h4, .h4 {
    font-size: 20px;
    font-weight: bold;
}


.center {
    width: 150px;
    margin: 40px auto;
}

.choose-quantity {
    width: 30%;
    display: inline-block;
}

/*language icon*/
.btn-lang {
    border: #fff solid 1px;
    width: 26px;
    height: 22px;
    border-radius: 3px;
}

    .btn-lang:disabled {
        opacity: 0.5;
    }


/*validation*/
.parsley-errors-list {
    color: red;
    padding: 0px;
    list-style: none;
}

    .parsley-errors-list li ul, .parsley-errors-list li {
        list-style: none;
    }

.alert_page {
    width: 22%;
    display: inline-block;
    position: fixed;
    top: 42px;
    right: 1%;
    padding-left: 2%;
}

@media (max-width: 1200px) {
    .alert_page {
        width: 22%;
    }
}

@media (max-width: 992px) {
    .alert_page {
        width: 30%;
    }
}

@media (max-width: 767px) {
    .alert_page {
        width: 100%;
    }
}

ul.page-numbers li a {
    padding: 0 !important;
}

.wrapTopMenu .topMenu > ul > li > ul li {
    font-size: 15px;
    font-weight: initial;
}

.noHover {
    pointer-events: none;
}

.navbar-brand.logo {
    width: 100%;
}

    .navbar-brand.logo:hover {
        background-color: #fff;
    }

@media (max-width: 767px) {
    .navbar-brand.logo {
        float: inherit;
        position: absolute;
    }
}


/*menu*/
.wrap.fullWidth {
    padding: 0
}

.navbar.navbar-default,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form,
.navbar.navbar-default .navbar-header {
    border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle {
    background: none;
    border: none;
    float: left;
    margin-right: 5px;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #343392; /*clr-00*/
    }

#header {
    min-height: 100px;
}

    #header .navbar {
        background-color: #343392;
        margin-bottom: 0px;
    }

    #header #navbar ul li.usermenuFlag {
        margin-top: 5px;
        margin-right: 10px;
    }

        #header #navbar ul li.usermenuFlag button {
            margin-right: 3px;
            /*height: 20px;*/
        }

        #header #navbar ul li.usermenuFlag:hover {
            background-color: transparent;
        }

    #header .navbar-header {
        height: 100px;
        position: relative;
        z-index: 2500;
    }

@media (max-width: 767px) {
    #header .navbar-header {
        background-color: #fff;
    }
}

#header .nav.navbar-nav {
    margin-top: 50px;
}

    #header .nav.navbar-nav.navbar-right {
        margin-top: 2px;
    }

#header .group-top-right {
    padding-top: 10px;
}

    #header .group-top-right .form-group {
        margin-bottom: 6px;
    }

        #header .group-top-right .form-group input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            background: transparent;
            border: rgba(255, 255, 255, 0.3) solid 1px;
            border-right: none;
        }

        #header .group-top-right .form-group #btn-search {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background: rgba(255, 255, 255, 0);
            border: rgba(255, 255, 255, 0.3) solid 1px;
            border-left: none;
            color: #fff;
        }

@media (max-width: 767px) {
    #header .nav.navbar-nav {
        margin-top: 10px;
    }
}

#navbar {
    position: relative;
}

    #navbar ul li.mn-main a.mn-text {
        color: #fff; /*clr-00*/
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }

    #navbar ul li.mn-main:hover {
        background-color: #0D47A1;
    }

        #navbar ul li.mn-main:hover a.mn-text {
            color: #fff;
        }

    #navbar .has-panel {
        position: static;
    }

        #navbar .has-panel .panel-menu {
            background: #fff none repeat scroll 0 0;
            border-radius: 0;
            box-shadow: 5px 10px 20px rgba(0,0,0,0.15);
            display: none;
            margin: 0;
            padding: 10px;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            width: 100%;
        }

    #navbar .panel-sm .dropdown-menu {
        background: #fff none repeat scroll 0 0;
        border-radius: 0;
        box-shadow: 5px 10px 20px rgba(0,0,0,0.15);
        display: none;
        margin: 0;
        padding: 10px;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
    }

        #navbar .panel-sm .dropdown-menu li {
            list-style: none;
        }

            #navbar .panel-sm .dropdown-menu li a {
                font-size: 16px;
                color: #212121;
            }

                #navbar .panel-sm .dropdown-menu li a:hover {
                    background: none !important;
                    color: #2962FF;
                }

@media (min-width: 768px) {
    #navbar .has-panel:hover .panel-menu, #navbar .panel-sm:hover .dropdown-menu {
        display: block !important;
    }
}

.has-panel .panel-menu ul li {
    background: none;
    list-style: none;
}

    .has-panel .panel-menu ul li a {
        color: #212121;
        text-decoration: none;
        font-size: 16px;
    }

#navbar .mn-sub-lv {
    margin-bottom: 10px;
}

    #navbar .mn-sub-lv ul {
        padding-left: 5%;
    }

#navbar ul.mn-sub-lv li a.mn-text {
    text-transform: none;
    font-weight: 900;
}

#navbar .has-panel .panel-menu ul a.mn-text:hover {
    color: #212121;
}

@media (max-width: 767px) {
    .usermenuFlag {
        padding-top: 0;
        text-align: center;
    }
}


@media (max-width: 767px) {
    #navbar ul li a.mn-text {
        display: inline-block;
        width: calc(100% - 50px);
    }
}

.icon-collapse {
    display: none;
}

@media (max-width: 767px) {
    .icon-collapse {
        display: block;
        float: right;
        padding-top: 10px;
        padding-right: 20px;
    }

    #navbar .has-panel .panel-menu.collapse.show,
    #navbar .panel-sm .dropdown-menu.collapse.show {
        position: relative !important;
        background-color: #343392 !important;
        width: 100%;
        border: none;
    }
}
/*todo*/
.woocommerce nav.woocommerce-pagination.cooking-pagging {
    text-align: right;
}

.sc_title.sc_title_center.text-cooking {
    text-align: left;
}

.sc_columns_4.sc_columns_indent .sc_columns_item.fix-width {
    width: 234px;
    height: 234px;
}

.pro-item img {
    width: 230px;
    height: 300px;
}

.im-pro-detail a img {
    width: 300px;
    height: 450px;
}
/*endtodo*/


.pagination > li > a, .pagination > li > span {
    font-size: 16px;
    border: none;
    color: #fff; /*clr-00*/
    background-color: #FFF8E1;
    border-radius: 10px !important;
    margin: 5px;
    font-weight: 400;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #343392;
    border: none;
    color: #fff;
}

.woocommerce ul.products {
    margin-top: 15px;
}

.products .pro-item .pro-name {
    font-size: 16px;
    text-align: center;
    display: block;
    color: #212121;
    font-weight: 500;
}


span.pro-img {
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../images/product-default.png');
}

.product span.pro-img {
    width: 500px;
    height: 550px;
}

/*slider*/
.sc_slider.sc_slider_style_1 {
    margin: 0 !important;
    padding: 0 !important;
    /*height: 100% !important;*/
}

.sc_slider_swiper .slides {
    margin: 0 !important;
    padding: 0 !important;
}

    .sc_slider_swiper .slides .swiper-slide {
        background-size: cover !important;
    }

/*@media (max-width: 449px) {
    .sc_slider_swiper .slides .swiper-slide {
        background-size: cover;
    }
}


@media (max-width: 669px) {
    .sc_slider_swiper .slides .swiper-slide {
        background-size: cover;
    }
}


@media (max-width: 800px) {
    .sc_slider_swiper .slides .swiper-slide {
        background-size: cover;
    }
}*/

.sc_title_header {
    position: absolute;
    margin-top: 1.5em;
    width: 100%;
    z-index: 1000;
    text-align: center;
    font-size: 4em;
    font-stretch: normal;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(117, 117, 117, 0.3);
    height: 2.5em;
    padding-top: 1em;
    font-family: 'Varela Round', sans-serif;
}


@media (max-width: 767px) {
    .sc_title_header {
        margin-top: 10px;
        font-size: 1em;
    }
}

.collapse {
    z-index: 2000 !important;
}

.fa:hover {
    text-decoration: none;
}


.fa-facebook {
    padding: 10px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background: #3B5998;
    color: white;
    text-decoration: none;
}

.fa-twitter {
    padding: 10px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background: #55ACEE;
    color: white;
    text-decoration: none;
}

.fa-google {
    padding: 10px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background: #dd4b39;
    color: white;
    text-decoration: none;
}

.fa-linkedin {
    padding: 10px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background: #007bb5;
    color: white;
    text-decoration: none;
}

.fa-zalo {
    padding: 10px;
    font-size: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background: #007bb5;
    color: white;
    text-decoration: none;
}

.fa-instagram {
    padding: 10px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background: #125688;
    color: white;
    text-decoration: none;
}

a.navbar-brand.logo {
    padding: 12px;
    background-color: #fff;
    height: 100%
}

.collapse {
    z-index: 1900;
}

@media (max-width: 677px) {
    .sc_slider_swiper .slides .swiper-slide {
        background-size: cover;
    }
}

.footerWidget .widgetWrap ul > li a {
    color: #fff;
}

.widgetWrap .title {
    color: #fff;
}

.buttonScrollUp {
    border-color: transparent transparent #343392 transparent;
}

#wrapWide .content {
    margin-top: 20px;
}


@media (max-width: 1299px) {
    #header .nav.navbar-nav {
        margin-top: 0px;
    }
}

.input-group {
    max-width: 200px;
}

.usermenuFlag {
    margin-left: 10px;
    padding-top: 0;
}



@media (max-width: 767px) {
    .input-group {
        max-width: none;
        margin: 0px 10px;
    }
}

@media (min-width: 768px) {
    #menubar.nav.navbar-nav {
        margin-top: 0 !important;
        /*position: fixed;*/
        /*top: 50px;*/
        /*left: 300px;*/
        width: auto;
    }
}

.banner .nav-title {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner h1.title {
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 60px;
}

.content-info .khung-content {
    width: 840px;
    margin: auto;
    padding: 45px;
}


#categoryMenu ul li {
    list-style: none;
}

    #categoryMenu ul li a {
        text-decoration: none;
        color: #212121;
    }

#categoryMenu .mn-text.mn-text-lv-1 {
    font-size: 16px;
    font-weight: bold;
}

#categoryMenu .mn-text.mn-text-lv-2 {
    font-size: 14px;
}

#categoryMenu.collapse.show {
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

#categoryMenu.collapse .row {
    background-color: #fff;
    padding-bottom: 30px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: auto;
    max-height: 500px;
}

@media (max-width: 767px) {
    #categoryMenu.collapse {
        margin-top: 0;
        width: 100%;
        left: 0;
        transform: none;
    }
}
