﻿
@{
    ViewData["Title"] = "BuyWhere";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/js/GMapJs.js"></script>
    <script async
            defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTbrZ05VWqhwG7ASkrp-WnEL9FNV_4bjE&callback=initMap"></script>

    <div class="container" style="margin: 20px;">
        <div id="map" class="col-md-12" style="height: 500px">
        </div>
    </div>*@

<br />
<h1 style="text-align:center;">Mua ở đâu</h1>
<div class="sc_line  sc_line_style_dotted"></div>
<br />
<div class="col-md-4">
    <h4>Satrafoods</h4>
    <br />
    <i class="fa fa-map-marker" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        D1-14 Dự án Belleza tại Phạm Hữu Lầu, P.Phú Mỹ, Quận 7, TPHCM
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        B6/14 Quốc Lộ 50, Xã Bình Hưng, Huyện Bình Chánh, Thành Phố Hồ Chí Minh
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        124 Đông Hưng Thuận 2, P. Đông Hưng Thuận, Q.12, Thành phố Hồ Chí Minh
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        D1-14 Dự án Belleza tại Phạm Hữu Lầu, P.Phú Mỹ, Quận 7, TPHCM
    </span>
</div>
<div class="col-md-4">
    <h4>CoopFood</h4>
    <br />
    <i class="fa fa-map-marker" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        154 Lê Văn Tách, P. An Bình, Tx Dĩ An, Bình Dương
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        67 - 69 Lê Văn Chí, Phường Linh Trung, Quận Thủ Đức
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        67 - 69 Lê Văn Chí, Phường Linh Trung, Quận Thủ Đức
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        367 Nguyễn Thị Đặng, Khu phố 4, Phường Tân Thới Hiệp, Quận 12, TP. HCM
    </span>
</div>
<div class="col-md-4">

    <h4>Bách Hóa Xanh</h4>
    <br />
    <i class="fa fa-map-marker" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        39A Chương Dương, Phường Linh Chiểu, Quận Thủ Đức
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        469 Nguyễn Hữu Thọ, P. Tân Hưng, Quận 7, Tp. Hồ Chí Minh
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        Số 20 đường Cộng Hòa, P.12. Q.Tân Bình, Tp.Hồ Chí Minh.
    </span>
    <div class="sc_line  sc_line_style_dotted"></div>
    <i class="fa fa-map-marker" aria-hidden="true">
    </i>
    <span style="font-size:14px;">
        242 Nguyễn Văn Lượng, Phường 10, Quận Gò Vấp, Tp. Hồ Chí Minh.
    </span>
</div>

<div class="col-md-12" style="padding-bottom: 4%; padding-top: 4%;">
    <img class="img-responsive" src="~/images/img_map.png">
</div>

