﻿@model RecipesViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> L

@{
    ViewData["Title"] = L["Recipes"];
}

<section class="section_padding_top_80">
    <div class="container-fluid">
        <h2 class="sc_title sc_title_center sc_title_style_1 margin_bottom_50 text-cooking">
            CÔNG THỨC CHẾ BIẾN MÓN ĂN
        </h2>
        <div class="sc_team sc_team_section_1 sc_team_item_style_1">
            <div class="sc_columns_4 sc_columns_indent products">
                @if (Model.DishPost.Count() != 0)
                {
                    @foreach (var item in Model.DishPost)
                    {
                        <div class="sc_columns_item pro-item">
                            <a href="@item.Link">
                                <div class="sc_team_item sc_team_item_1 odd first">
                                    <div class="sc_team_item_avatar_wrap">
                                        <div class="sc_team_item_avatar ">
                                            <span class="pro-img" style="background-image:url(@item.ImageUrl)"></span>
                                        </div>
                                    </div>
                                    <span class="pro-name">@item.Title</span>
                                </div>
                            </a>
                        </div>
                    }
                }
                else
                {
                    <div class="well" style="background-color: #FFECB3;">Đang cập nhật ...</div>
                }

            </div>

            @*<div class="text-center">
                    <ul class='pagination'>

                        <li class="active">
                            <a href="javascript:void(0)">1</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">2</a>
                        </li>
                    </ul>
                </div>*@
        </div>
    </div>
</section>



@*<div class="sc_line  sc_line_style_dotted"></div>*@
<section class="section_padding_top_80">
    <div class="container-fluid">
        <h2 class="sc_title sc_title_center sc_title_style_1 margin_bottom_50 text-cooking">
            Pha chế nước chấm
        </h2>
        <div class="sc_team sc_team_section_1 sc_team_item_style_1">
            <div class="sc_columns_4 sc_columns_indent products">
                @if (Model.SaucePost.Count() != 0)
                {
                    @foreach (var item in Model.SaucePost)
                    {
                        <div class="sc_columns_item pro-item">
                            <a href="@item.Link">
                                <div class="sc_team_item sc_team_item_1 odd first">
                                    <div class="sc_team_item_avatar_wrap">
                                        <div class="sc_team_item_avatar ">
                                            <span class="pro-img" style="background-image:url(@item.ImageUrl)"></span>
                                        </div>
                                    </div>
                                    <span class="pro-name">@item.Title</span>
                                </div>
                            </a>
                        </div>
                    }
                }
                else
                {
                    <div class="well" style="background-color: #FFECB3;">Đang cập nhật ...</div>
                }




                @*<div class="text-center">
                        <ul class='pagination'>

                            <li class="active">
                                <a href="javascript:void(0)">1</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">2</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
</section>