﻿@model IEnumerable<Homepage.UI.ViewModels.PostHomepageViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> L
@using HomePage.Web.Helpers
@{
    ViewData["Title"] = "Topic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() != 0)
{
    <div class="sc_team sc_team_section_1 sc_team_item_style_1">
        <div class="sc_columns_4 sc_columns_indent">

            @foreach (var item in Model)
            {
                <div class="sc_columns_item">
                    <div class="sc_team_item sc_team_item_1 odd first">
                        <div class="sc_team_item_avatar_wrap">
                            <div class="sc_team_item_avatar ">
                                <a href="@item.Link">
                                    <img src="@item.ImageUrl">
                                </a>
                            </div>
                            <div class="blog-box-content">
                                <h4><a href="@item.Link">@item.Title</a></h4>
                                <p>
                                    @item.Description
                                </p>
                                <a href="@item.Link">@L["ReadMore"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="sc_line  sc_line_style_dotted"></div>
    <div class="well" style="background-color: #FFECB3;">Đang cập nhật ...</div>
    <div class="sc_line  sc_line_style_dotted"></div>
}

@*@foreach (var i in Model)
    {
        if (i.BlogTypeViewModels.Id == 1)
        {
            <partial name="BlogGreenSpirit" model="@Model" />
            break;
        }
        if (i.BlogTypeViewModels.Id == 2)
        {
            <partial name="BlogGobalGreen" model="@Model" />
            break;
        }
        if (i.BlogTypeViewModels.Id == 3)
        {
            <partial name="BlogTravelGreen" model="@Model" />
            break;
        }
    }*@