﻿@model List<BlogViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> L



@{
    ViewData["Title"] = "Trace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Truy xuất nguồn gốc</h2>

<div class="sc_line  sc_line_style_dotted"></div>
<div class="well" style="background-color: #FFECB3;">Đang cập nhật ...</div>
<div class="sc_line  sc_line_style_dotted"></div>