﻿@model IEnumerable<Homepage.UI.ViewModels.PostHomepageViewModel>
@inject IHtmlLocalizer<SharedResource> L
@using Microsoft.AspNetCore.Mvc.Localization
@using HomePage.Web.Helpers
@{
    ViewData["Title"] = "WeWork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() != 0)
{
    <br />
    <h2 style="text-align:center;">Chúng tôi đang làm gì</h2>
    <div class="sc_line  sc_line_style_dotted"></div>
    <section class="section_padding_top_80">
        <h3 class="sc_title sc_title_center sc_title_style_1 margin_bottom_50 text-cooking">
            Bài viết
        </h3>
        <div class="sc_team sc_team_section_1 sc_team_item_style_1">
            <div class="sc_columns_4 sc_columns_indent">

                @foreach (var item in Model)
                {
                    <div class="sc_columns_item">
                        <div class="sc_team_item sc_team_item_1 odd first">
                            <div class="sc_team_item_avatar_wrap">
                                <div class="sc_team_item_avatar ">
                                    <a href="@item.GetUrl()">
                                        <img src="@item.ImageUrl">
                                    </a>
                                </div>
                                <div class="blog-box-content">
                                    <h4><a href="@item.GetUrl()">@item.Title</a></h4>
                                    <p>
                                        @item.Description
                                    </p>
                                    <a href="@item.GetUrl()">@L["ReadMore"]</a>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
else
{
    <div class="sc_line  sc_line_style_dotted"></div>
    <div class="well" style="background-color: #FFECB3;">Đang cập nhật ...</div>
    <div class="sc_line  sc_line_style_dotted"></div>
}



@*<section class="section_padding_top_80">
        <h3 class="sc_title sc_title_center sc_title_style_1 margin_bottom_50 text-cooking">
            Hình ảnh
        </h3>
        <div class="sc_team sc_team_section_1 sc_team_item_style_1">
            <div class="sc_columns_4 sc_columns_indent">
                <div class="sc_columns_item">
                    <div class="sc_team_item sc_team_item_1 odd first">
                        <div class="sc_team_item_avatar_wrap">
                            <div class="sc_team_item_avatar ">
                                    <a>
                                        <img src="~/images/thit-bo.png">
                                    </a>
                                </div>
                                <span>
                                    Đánh giá sản phẩm từ khách hàng
                                </span>
                            <div class="well" style="background-color: #FFECB3;">Nội dung đang cập nhật</div>
                        </div>

                    </div>
                </div>
                <div class="sc_columns_item">
                        <div class="sc_team_item sc_team_item_1 odd first">
                            <div class="sc_team_item_avatar_wrap">
                                <div class="sc_team_item_avatar ">
                                    <a>
                                        <img src="~/images/thit-bo.png">
                                    </a>
                                </div>
                                <span>
                                    Đánh giá sản phẩm từ khách hàng
                                </span>
                            </div>

                        </div>
                    </div>
            </div>
        </div>
    </section>
    <div class="sc_line  sc_line_style_dotted"></div>
    <section class="section_padding_top_80">
        <h3 class="sc_title sc_title_center sc_title_style_1 margin_bottom_50 text-cooking">
            CLIP
        </h3>
        <div class="sc_team sc_team_section_1 sc_team_item_style_1">
            <div class="sc_columns_4 sc_columns_indent">
                <div class="sc_columns_item">

                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                        <span>
                            Đánh giá sản phẩm từ khách hàng
                        </span>
                    <div class="well" style="background-color: #FFECB3;">Nội dung đang cập nhật</div>
                </div>
            </div>
        </div>
    </section>*@
