﻿@using MDM.UI.Categories.ViewModels;
@using Microsoft.AspNetCore.Mvc.Localization
@using HomePage.Web.Helpers

@model IEnumerable<CategoryViewModel>
@inject IHtmlLocalizer<SharedResource> L

<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="~/">
                    <img alt="Brand" src="~/images/logo_220_82.jpg">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right group-top-right">
                    <li>
                        <div class="form-group">
                            <form asp-action="SearchAsync" asp-controller="Home" method="get">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" placeholder="@L["Search"]" id="search" name="searchString">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default btn-sm" id="btn-search">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </li>
                    <partial name="_SelectLanguagePartial" />
                </ul>

                <ul id="menubar" class="nav navbar-nav navbar-right">
                    <li class="mn-main">
                        <a class="mn-text" href="~/">@L["Index_Homepage"]</a>
                    </li>
                    <li class="mn-main has-panel">
                        <a class="mn-text" href="javascript:void(0)" style="cursor:default" data-toggle="collapse" data-target="#categoryMenu">@L["Index_Product"] <i class="fa fa-caret-right" style="padding-left:2px;" aria-hidden="true"></i></a>
                    </li>
                    <li class="mn-main has-panel">
                        <a class="mn-text" href="@L["R.WhereToBuy"]">@L["Index_WhereToBuy"]</a>
                    </li>

                    <li class="mn-main"><a class="mn-text" href="@L["R.Gifts"]">@L["Index_Gifts"]</a></li>

                    <li class="mn-main"><a class="mn-text" href="@L["R.Recipes"]">@L["Index_Recipe"]</a></li>

                    <li class="mn-main"><a class="mn-text" href="@L["R.WeWork"]">@L["Index_Event"]</a></li>
                </ul>

            </div>
        </div>
    </nav>
</header>

<div id="categoryMenu" class="container panel-menu collapse">
    <div class="row">
        <div class="col-md-12">
            <span class="pull-right" style="font-size: 40px; margin-top:10px; cursor: default;" data-toggle="collapse" data-target="#categoryMenu">&times;</span>
        </div>
        <ul class="mn-sub-lv">
            @foreach (var itemlv1 in Model)
            {
                <li class="col-md-3 mn-sub-lv-item">
                    <hr>
                    <a class="mn-text mn-text-lv-1" href="@itemlv1.GetUrl()"> @itemlv1.Name</a>
                    @if (itemlv1.Childs != null && itemlv1.Childs.Count() > 0)
                    {
                        <ul class="mn-sub-lv">
                            @foreach (var itemlv2 in itemlv1.Childs)
                            {
                                <li class="mn-sub-lv-item">
                                    <a class="mn-text mn-text-lv-2" href="@itemlv2.GetUrl()"> @itemlv2.Name</a>
                                    @*@if (itemlv2.Childs != null && itemlv2.Childs.Count() > 0)
                                        {
                                            <ul class="mn-sub-lv">
                                                @foreach (var itemlv3 in itemlv2.Childs)
                                                {
                                                    <li class="mn-sub-lv-item">
                                                        <a class="mn-text mn-text-lv-3" href="@itemlv3.GetUrl()"> @itemlv3.Name</a>
                                                    </li>
                                                }
                                            </ul>
                                        }*@
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>
</div>