::ng-deep #grid.image-stored {
    background-color: transparent !important;
    border: unset !important;
  }

  .btn-group button {
      margin: 3px;
  }

  #grid .image-content img {
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    margin-top: 10px;
    cursor: pointer;
  }
  #grid .image-content img:hover {
    border: 2px solid #ddd;
  }

  #grid .image-content img.actived {
    border: 2px solid #F5A89A;
  }

  #grid .image-detail .image-container {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 5px;
    height: 200px;
  }
  #grid .image-detail .image-container img{
    width: 100%;
    max-height: 200px;
  }

  #grid .image-detail .image-detail-info {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 5px;
  }