<div id="grid" class="image-stored">
  <div class="row">
    <div class="col-md-9">
      <div class="box image-content">
        <div class="box-header with-border">
          <h3 class="box-title">{{lang.instant('Common.Media')}}</h3>
        </div>
        <div class="box-body" style="min-height: 300px">
          <div>
            <label class="col-sm-3 control-label">{{lang.instant('ImageStored.Feature')}}:</label>

            <div class="col-sm-9">
              <select name="feature" [value]="chooseFeature" class="form-control"
                (change)="onFeatureChange($event.target.value)">
                <option *ngFor="let feature of features" value="{{feature}}">{{feature}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div *ngFor="let image of images" class="col-sm-2">
              <img (click)="chooseImage(image.id)" [class.actived]="image.id == chooseImageId"
                src="{{ imageServer + image.pathFileName}}">
              <span
                style="display: block;text-align: center">{{image.width + "x" + image.height + " (." + image.type + ")"}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box image-action">
        <div class="box-header with-border">
          <h3 class="box-title">{{lang.instant('Common.Action')}}</h3>
        </div>
        <div class="box-body">
          <div class="btn-group">
            <button [disabled]="chooseFeature == ''" type="button" class="btn btn-primary"
              (click)="inputChoose.click()"><a class="fa fa-cloud-upload"></a>
              {{lang.instant('Common.Action.Upload')}}</button>
            <button [disabled]="chooseImageId == 0" type="button" class="btn btn-danger" (click)="delete()"><a
                class="fa fa-trash"></a>
              {{lang.instant('Common.Action.Delete')}}</button>
          </div>
        </div>
        <input #inputChoose type="file" accept="image/*" style="display:none" (change)="changeEvent($event, this)">
      </div>

      <div class="box image-detail">
        <div class="box-header with-border">
          <h3 class="box-title">{{lang.instant('Common.Description')}}</h3>
        </div>
        <div class="box-body">
          <div class="image-container">
            <img *ngIf="chooseImageId != 0" src="{{ imageServer + getImage(chooseImageId)?.pathFileName}}">
          </div>
          <hr/>
          <div class="image-detail-info">
            <div>
              <label style="display:block">{{lang.instant('Common.Code')}}:</label><span *ngIf="chooseImageId != 0"
                style="display: block; width: 100%; overflow: hidden;">{{getImage(chooseImageId)?.code}}</span>
            </div>
            <div>
              <label style="display:block">{{lang.instant('Common.Path')}}:</label>
              <input *ngIf="chooseImageId != 0" type="text" style="display: block; width: 100%; overflow: hidden;"
                [value]="imageServer + getImage(chooseImageId)?.pathFileName">
            </div>
            <div>
              <label style="display:block">{{lang.instant('Common.Image.Size')}}:</label><span
                *ngIf="chooseImageId != 0"
                style="display: block; width: 100%; overflow: hidden;">{{getImage(chooseImageId)?.width + "x" + getImage(chooseImageId)?.height}}</span>
            </div>
            <div>
              <label style="display:block">{{lang.instant('Common.Image.Type')}}:</label><span
                *ngIf="chooseImageId != 0"
                style="display: block; width: 100%; overflow: hidden;">{{ "." + getImage(chooseImageId)?.type}}</span>
            </div>
            <div>
                <label style="display:block">{{lang.instant('Common.CreatedDate')}}:</label><span
                  *ngIf="chooseImageId != 0"
                  style="display: block; width: 100%; overflow: hidden;">{{getImage(chooseImageId)?.createdDate?.substring(0, 10)}}</span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>